<h1><%= @description %></h1>

<form action="/output" method="post">
  <div class="form-group">
    <label for="parcel">Enter the parcel's weight and dimensions</label>
    <input id="l" name="length" class="form-control" type="number" placeholder="length (inches)">
    <input id="wi" name="width" class="form-control" type="number" placeholder="width (inches)">
    <input id="h" name="height" class="form-control" type="number" placeholder="height (inches)">
    <input id="we" name="weight" class="form-control" type="number" placeholder="weight (lbs)">
  </div>
  <button type="submit" class="btn btn-success">Price it!</button>
</form>
